{% extends 'home/base.html' %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>M+ trials</title>
  </head>
 <body>
  <h1>Trials List by Rank > 150</h1>
  {% if trial_list %}
      <table class='table1'>
        {% for trial in trial_list %}
          <tr>
              <td><a href="{{ trial.get_absolute_url }}">{{ trial.nct_id }} </a></td>
              <td>{{ trial.alloc.username }}</td>
              <td>{{ trial.drank_final}}</td>
              <td>{{ trial.brief_title }}</td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
    <p>There are no trials.</p>
  {% endif %}
</body>
</html>
{% endblock %}
