{% extends base %}

{% block contents%}
    <div class="container">
        <div class="row my-4">
            <div class="col-2">
                <h1>&emsp; COVID 19</h1>
                <h2>Compare Region & Your Risk</h2>
            </div>
            <div class="col-8">
            <p> &emsp;&emsp;&emsp;&emsp;&emsp;&#8595;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &#8595; select age, gender</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ embed(roots.g1) }}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
